
<h1>Bare Metal Form</h1>
<%= form_with model: @user do |form| %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <%= form.label :username %>
  <%= form.text_field :username %>
  <%= form.label :email %>
  <%= form.email_field :email%>
  <%= form.label :password %>
  <%= form.password_field :password  %>
  <%= form.submit "#{'submit'}".upcase  %>
<% end %>
